@use 'mixins' as mx;
@use 'vars' as vars;

.ql-layout {
    &__sidebar {
        background: var(--mat-sys-surface-bright);
        padding-top: 1rem;
        width: 64px;
    }

    &__logo {
        display: block;
        margin-inline: auto;
        width: 32px;
    }

}
