@import 'vars';


@mixin ql-font-display-lg {
    font-size: $font-size--display-lg;
    font-weight: 400;
    line-height: 64px;
}

@mixin ql-font-display {
    font-size: $font-size--display;
    font-weight: 400;
    line-height: 52px;
}

@mixin ql-font-display-sm {
    font-size: $font-size--display-sm;
    font-weight: 400;
    line-height: 44px;
}

@mixin ql-font-headline-lg {
    font-size: $font-size--headline-lg;
    font-weight: 500;
    line-height: 40px;
}

@mixin ql-font-headline {
    font-size: $font-size--headline;
    font-weight: 500;
    line-height: 36px;
}

@mixin ql-font-headline-sm {
    font-size: $font-size--headline-sm;
    font-weight: 500;
    line-height: 32px;
}

@mixin ql-font-title-lg {
    font-size: $font-size--title-lg;
    font-weight: 500;
    line-height: 28px;
}

@mixin ql-font-title {
    font-size: $font-size--title;
    font-weight: 500;
    line-height: 24px;
}

@mixin ql-font-title-sm {
    font-size: $font-size--title-sm;
    font-weight: 500;
    line-height: 20px;
}

@mixin ql-font-body-lg {
    font-size: $font-size--body-lg;
    font-weight: 400;
    line-height: 24px;
}

@mixin ql-font-body {
    font-size: $font-size--body;
    font-weight: 400;
    line-height: 20px;
}

@mixin ql-font-body-sm {
    font-size: $font-size--body-sm;
    font-weight: 400;
    line-height: 16px;
}

@mixin ql-font-label-lg {
    font-size: $font-size--label-lg;
    font-weight: 500;
    line-height: 20px;
}

@mixin ql-font-label {
    font-size: $font-size--label;
    font-weight: 500;
    line-height: 16px;
}

@mixin ql-font-label-sm {
    font-size: $font-size--label-sm;
    font-weight: 500;
    line-height: 16px;
}

@mixin ql-font-overline {
    font-size: $font-size--overline;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 16px;
    text-transform: uppercase;
}

