@import 'vars';

.ql-color-inherit {
    color: inherit !important;
}

.ql-color-neutral-0 {
    color: $color-neutral-0 !important;
}

.ql-color-neutral-10 {
    color: $color-neutral-10 !important;
}

.ql-color-neutral-20 {
    color: $color-neutral-20 !important;
}

.ql-color-neutral-30 {
    color: $color-neutral-30 !important;
}

.ql-color-neutral-40 {
    color: $color-neutral-40 !important;
}

.ql-color-neutral-50 {
    color: $color-neutral-50 !important;
}

.ql-color-neutral-60 {
    color: $color-neutral-60 !important;
}

.ql-color-neutral-90 {
    color: $color-neutral-90 !important;
}

.ql-color-neutral-300 {
    color: $color-neutral-300 !important;
}

.ql-color-neutral-900 {
    color: $color-neutral-900 !important;
}

.ql-color-primary-50 {
    color: $color-primary-50 !important;
}

.ql-color-primary-100 {
    color: $color-primary-100 !important;
}

.ql-color-primary-300 {
    color: $color-primary-300 !important;
}

.ql-color-primary-400 {
    color: $color-primary-400 !important;
}

.ql-color-success-50 {
    color: $color-success-50 !important;
}

.ql-color-success-100 {
    color: $color-success-100 !important;
}

.ql-color-success-300 {
    color: $color-success-300 !important;
}

.ql-color-success-400 {
    color: $color-success-400 !important;
}

.ql-color-warning-50 {
    color: $color-warning-50 !important;
}

.ql-color-warning-100 {
    color: $color-warning-100 !important;
}

.ql-color-warning-300 {
    color: $color-warning-300 !important;
}

.ql-color-warning-400 {
    color: $color-warning-400 !important;
}

.ql-color-error-50 {
    color: $color-error-50 !important;
}

.ql-color-error-100 {
    color: $color-error-100 !important;
}

.ql-color-error-300 {
    color: $color-error-300 !important;
}

.ql-color-error-400 {
    color: $color-error-400 !important;
}

.ql-color-info-50 {
    color: $color-info-50 !important;
}

.ql-color-info-100 {
    color: $color-info-100 !important;
}

.ql-color-info-300 {
    color: $color-info-300 !important;
}

.ql-color-info-400 {
    color: $color-info-400 !important;
}

.ql-color-yellow-50 {
    color: $color-yellow-50 !important;
}

.ql-color-yellow-100 {
    color: $color-yellow-100 !important;
}

.ql-color-yellow-300 {
    color: $color-yellow-300 !important;
}

.ql-color-yellow-400 {
    color: $color-yellow-400 !important;
}

.ql-color-duke-blue-50 {
    color: $color-duke-blue-50 !important;
}

.ql-color-duke-blue-100 {
    color: $color-duke-blue-100 !important;
}

.ql-color-duke-blue-300 {
    color: $color-duke-blue-300 !important;
}

.ql-color-duke-blue-400 {
    color: $color-duke-blue-400 !important;
}

.ql-color-cyan-50 {
    color: $color-cyan-50 !important;
}

.ql-color-cyan-100 {
    color: $color-cyan-100 !important;
}

.ql-color-cyan-300 {
    color: $color-cyan-300 !important;
}

.ql-color-cyan-400 {
    color: $color-cyan-400 !important;
}

.ql-color-pink-50 {
    color: $color-pink-50 !important;
}

.ql-color-pink-100 {
    color: $color-pink-100 !important;
}

.ql-color-pink-300 {
    color: $color-pink-300 !important;
}

.ql-color-pink-400 {
    color: $color-pink-400 !important;
}

.ql-color-purple-50 {
    color: $color-purple-50 !important;
}

.ql-color-purple-100 {
    color: $color-purple-100 !important;
}

.ql-color-purple-300 {
    color: $color-purple-300 !important;
}

.ql-color-purple-400 {
    color: $color-purple-400 !important;
}
