$color-neutral-0: #fff;
$color-neutral-0--opacity-25: rgba(255, 255, 255, 0.25);
$color-neutral-0--opacity-50: rgba(255, 255, 255, 0.5);
$color-neutral-0--opacity-75: rgba(255, 255, 255, 0.75);
$color-neutral-10: #fafafb;
$color-neutral-20: #f5f6f6;
$color-neutral-30: #ebeced;
$color-neutral-40: #dee1e2;
$color-neutral-50: #bfc5c8;
$color-neutral-50--opacity-75: rgba(191, 197, 200, .75);

$color-neutral-60: #b0b6bb;
$color-neutral-90: #858f95;
$color-neutral-300: #57656e;

$color-neutral-900: #020b11;
$color-neutral-900--opacity-25: rgba(2, 11, 17, 0.25);
$color-neutral-900--opacity-50: rgba(2, 11, 17, .5);
$color-neutral-900--opacity-75: rgba(2, 11, 17, .75);

$color-success-50: #ebf8e9;
$color-success-100: #5bc84b;
$color-success-300: #3abd26;
$color-success-400: #29841b;
