$font-family--body: 'Roboto', sans-serif !default;
$font-family--title: 'Roboto', sans-serif !default;
$font-family--code: 'Source Code Pro';

$font-size--display-lg: 57px;
$font-size--display: 45px;
$font-size--display-sm: 36px;

$font-size--headline-lg: 32px;
$font-size--headline: 28px;
$font-size--headline-sm: 24px;

$font-size--title-lg: 22px;
$font-size--title: 16px;
$font-size--title-sm: 14px;

$font-size--body-lg: 16px;
$font-size--body: 14px;
$font-size--body-sm: 12px;

$font-size--label-lg: 14px;
$font-size--label: 12px;
$font-size--label-sm: 11px;

$font-size--overline: 10px;

$font-size-icon: 24px;
$font-size-icon--small: 16px;
