@use '@angular/material' as mat;
@use '../palletes/theme-quanline-colors' as themeColors;
@use 'vars' as vars;

html {
    color-scheme: light;

    @include mat.theme((
        color: themeColors.$primary-palette,
        typography: vars.$font-family--body,
    ),
    $overrides: (
        surface: vars.$color-neutral-0,
        surface-container: vars.$color-neutral-0,
        surface-container-high: vars.$color-neutral-0,
        surface-container-highest: vars.$color-neutral-0,
        surface-container-low: vars.$color-neutral-0,
        surface-container-lowest: vars.$color-neutral-0,
        outline: vars.$color-neutral-40,
        outline-variant: vars.$color-neutral-40,
        background: vars.$color-neutral-0
    ));
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {

}
