<mat-card class="ql-todo-list-card" [class.ql-todo-list-card--completed]="allItemsCompleted()">
    <mat-card-content>
        <div class="d-flex w-100 align-items-center gap-3">
            <div class="ql-todo-list-card__tile">
                {{ completedItemsTotalCount() }} / {{ itemsTotalCount() }}
            </div>
            <div class="flex-grow-1">
                <div class="ql-todo-list-card__title">
                    {{ entity().title }}
                </div>
                @if (entity().description?.length) {
                    <div class="ql-todo-list-card__description">
                        {{ entity().description }}
                    </div>
                }
            </div>

            <mat-divider [vertical]="true"/>
            <button mat-stroked-button (click)="onDeleteBtnClicked()">
                Delete
            </button>
            <button mat-stroked-button (click)="onDetailsBtnClicked()">
                Details
            </button>
        </div>
    </mat-card-content>
</mat-card>
