@use 'sass:map';
@use '@angular/material' as mat;

$palettes: (
    primary: (
        0: #000,
        10: #001c2f,
        20: #00395e,
        25: #004776,
        30: #00568d,
        35: #0064a4,
        40: #0072bc,
        50: #2f8cc8,
        60: #59a3d3,
        70: #84bbdf,
        80: #aed2ea,
        90: #d9eaf5,
        95: #ebf3fa,
        98: #f5f9fc,
        99: #fafcfd,
        100: #fff
    ),
    secondary: (
        0: #000,
        10: #001d35,
        20: #16324d,
        25: #223d59,
        30: #2e4965,
        35: #3a5471,
        40: #46607e,
        50: #5f7998,
        60: #7993b3,
        70: #93adcf,
        80: #aec9eb,
        90: #d1e4ff,
        95: #e9f1ff,
        98: #f8f9ff,
        99: #fdfcff,
        100: #fff,
    ),
    tertiary: (
        0: #000,
        10: #001d35,
        20: #16324d,
        25: #223d59,
        30: #2e4965,
        35: #3a5471,
        40: #46607e,
        50: #5f7998,
        60: #7993b3,
        70: #93adcf,
        80: #aec9eb,
        90: #d1e4ff,
        95: #e9f1ff,
        98: #f8f9ff,
        99: #fdfcff,
        100: #fff,
    ),
    neutral: (
        0: #000,
        10: #181c21,
        20: #2d3136,
        25: #383c41,
        30: #44474c,
        35: #4f5358,
        40: #5b5e64,
        50: #74777d,
        60: #8e9197,
        70: #a8abb2,
        80: #c4c6cd,
        90: #e0e2e9,
        95: #eef1f7,
        98: #f8f9ff,
        99: #fdfcff,
        100: #fff,
        4: #0b0e13,
        6: #101418,
        12: #1c2025,
        17: #272a2f,
        22: #32353a,
        24: #36393f,
        87: #d8dae1,
        92: #e6e8ef,
        94: #eceef4,
        96: #f1f3fa,
    ),
    neutral-variant: (
        0: #000,
        10: #151c25,
        20: #2a313a,
        25: #353c45,
        30: #404751,
        35: #4c535d,
        40: #585f69,
        50: #717882,
        60: #8a919c,
        70: #a5acb7,
        80: #c0c7d3,
        90: #dce3ef,
        95: #eaf1fd,
        98: #f8f9ff,
        99: #fdfcff,
        100: #fff,
    ),
    error: (
        0: #000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a00e0e,
        40: #e52e2e,
        50: #f1463c,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #fff,
    ),
);

$rest: (
    secondary: map.get($palettes, secondary),
    neutral: map.get($palettes, neutral),
    neutral-variant: map.get($palettes, neutral-variant),
    error: map.get($palettes, error),
);

$primary-palette: map.merge(map.get($palettes, primary), $rest);
$tertiary-palette: map.merge(map.get($palettes, tertiary), $rest);
