@use 'sass:map';
@use '@angular/material' as mat;

$palettes: (
    primary: (
        0: #000,
        10: #360f00,
        20: #571e00,
        25: #692600,
        30: #7c2e00,
        35: #8f3600,
        40: #a23f00,
        50: #cb5000,
        60: #f2640e,
        70: #ff8c56,
        80: #ffb595,
        90: #ffdbcd,
        95: #ffede7,
        98: #fff8f6,
        99: #fffbff,
        100: #fff
    ),
    secondary: (
        0: #000,
        10: #321204,
        20: #4c2615,
        25: #59311e,
        30: #663c29,
        35: #744733,
        40: #82533e,
        50: #9e6b55,
        60: #ba846d,
        70: #d89e85,
        80: #f6b99f,
        90: #ffdbcd,
        95: #ffede7,
        98: #fff8f6,
        99: #fffbff,
        100: #fff
    ),
    tertiary: (
        0: #000,
        10: #201c00,
        20: #373100,
        25: #433c00,
        30: #504700,
        35: #5d5300,
        40: #6a5f0d,
        50: #847826,
        60: #9e923e,
        70: #baac55,
        80: #d6c86d,
        90: #f3e486,
        95: #fff2a9,
        98: #fff9ea,
        99: #fffbff,
        100: #fff
    ),
    neutral: (
        0: #000,
        10: #201a18,
        20: #362f2c,
        25: #413a37,
        30: #4d4542,
        35: #59514d,
        40: #655d59,
        50: #7f7572,
        60: #998f8b,
        70: #b4a9a5,
        80: #d0c4c0,
        90: #ede0db,
        95: #fbeeea,
        98: #fff8f6,
        99: #fffbff,
        100: #fff
    ),
    neutral-variant: (
        0: #000,
        10: #251914,
        20: #3b2d28,
        25: #473832,
        30: #52443d,
        35: #5f4f49,
        40: #6b5b54,
        50: #85736c,
        60: #a08d85,
        70: #bba79f,
        80: #d8c2ba,
        90: #f5ded5,
        95: #ffede7,
        98: #fff8f6,
        99: #fffbff,
        100: #fff
    ),
    error: (
        0: #000,
        10: #410002,
        20: #690005,
        25: #7e0007,
        30: #93000a,
        35: #a00e0e,
        40: #e52e2e,
        50: #f1463c,
        60: #ff5449,
        70: #ff897d,
        80: #ffb4ab,
        90: #ffdad6,
        95: #ffedea,
        98: #fff8f7,
        99: #fffbff,
        100: #fff,
    ),
);

$rest: (
    secondary: map.get($palettes, secondary),
    neutral: map.get($palettes, neutral),
    neutral-variant: map.get($palettes, neutral-variant),
    error: map.get($palettes, error),
);

$primary-palette: map.merge(map.get($palettes, primary), $rest);
$tertiary-palette: map.merge(map.get($palettes, tertiary), $rest);
